@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Quicksand:wght@600&display=swap');


:root{
  --primary: #09b43a;
  --error: #e7195a;
  --accent: #ae6ee7;
  --col1: #663dff;
  --col2: #663dff 0%;
  --col3: #aa00ff 37%;
  --col4: #cc4499 100%;

}
body {
  background: #272b33;
  margin: 0;
  font-family: "Inter";
  display: grid;
}
header {
  color: var(--accent);
  font-family: "Quicksand";
  background: #0a0c10;

}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a{
  color: #fff;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 40px;
  margin: 0 auto;  
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.work-details {
  background: #525964;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.work-details h4 {
  margin: 0 0 10px 0;
  font-weight:bolder;
  font-size: 1.2em;
  color: hsla(272, 88%, 75%, 0.932);
}
.work-details p {
  margin: 0;
  font-size: 0.9em;
  color: #000;
}
.work-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #525964;
  padding: 6px;
  border-radius: 50%;
  color: #000;
}

/*label, input {
  display: block;
}*/
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  display: block;
  margin: auto;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Quicksand";
  border-radius: 4px;
  cursor: pointer;
}
form.create{
  color: #fff;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

section {
  position: absolute;
  top: 35%;
  left: 39%;
  margin: 0 auto;
  padding-top: 100px;
  padding: 5px;
  max-width: 300px;
  background-image: linear-gradient(to right,rgb(102, 204, 255),rgb(51, 153, 255),rgb(102, 102, 255),rgb(153, 153, 255),rgb(255, 153, 255));
  border-radius:15px;
  box-shadow: 2px 2px 8px 0px rgba(255, 255, 255,1),
              -2px -2px 8px 0px rgba(255, 255, 255,1);
}

section div {
  background:#272b33;
  border-radius:10px;
  margin:0;
  box-sizing: border-box;
  height: 100%;
  width: 300px;
}

form.signup, form.login{
  max-width: 400px;
  color: #fff;
  display:grid;
  grid-auto-rows: min-content;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
}

form.signup input, form.login input{
  background: transparent;
  color: #fff;
  border-radius:2px;
  border:none;
  outline:none;
  height:40px;
  border-image: linear-gradient(to right,rgb(102, 204, 255),rgb(51, 153, 255),rgb(102, 102, 255),rgb(153, 153, 255),rgb(255, 153, 255));
  padding:0px 10px;
}

section {
  animation: border-gradient 2s infinite ease-in-out;
}

@keyframes border-gradient {
  0%{filter: hue-rotate(0deg);}
  50%{filter: hue-rotate(180deg);}
  100%{filter: hue-rotate(360deg);}
}

input[type=submit]:hover{
  background:#404040;
}

form.signup input:focus, form.login input:focus{
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 1px 0 0 var(--accent);
}


form.signup button, form.login button{
  display: block;
  margin: auto;
}

nav button{
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Quicksand";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}